body {
	margin: 0;
	padding: 0;
	font-family: Geometria, sans-serif;
}
* {
	box-sizing: border-box;
	transition: all .2s linear;
}
a {
	font-family: Geometria;
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
button:focus {
	outline: none;
}
.popup {
	display: none;
}

header.mobile {
	display: none;
}
header.desktop {
	width: 100%;
	background-color: #4d4a48;
}
header .topbar {
	width: 100%;
	background-color: #211d1a;
	height: 45px;
}
header .topbar>.content_wrap {
	display: flex;
	align-items:center;
	justify-content: space-between;
	height: 100%;
}
header .topbar .navbar {
	display: flex;
	align-items:center;
	justify-content: flex-start;
}
header .topbar .navbar li {
	margin-right: 45px;
}
header .topbar .navbar li:last-child {
	margin-right: 0;
}
header .topbar .navbar li a {
	font-size: 14px;
	color: #fff;
	opacity: 0.6;
	text-decoration: none;
}
header .topbar .navbar li a:hover {
	text-decoration: underline;
	opacity: 1;
}
header .topbar .adress {
	font-size: 14px;
	color: #fff;
	position: relative;
	padding-left: 25px;
}
header .topbar .adress:before {
	content: '';
	background-size: 100% 100%;
	background-image: url(img/location_icon-white.png);
	width: 14px;
	height: 19px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}
header .topbar .adress span {
	opacity: 0.6;
}
header .topbar .search_input-wrap {
	display: flex;
	align-items:center;
	justify-content: flex-end;
}
header .topbar .search_input-wrap button {
	background-color: transparent;
	box-shadow: none;
	border: none;
	width: 60px;
	height: 20px;
	cursor: pointer;
}
header .topbar .search_input-wrap button:focus {
	opacity: 0.5;
}
header .topbar .search_input-wrap input {
	border: none;
	border-bottom: solid 1px #4d4a48;
	color: rgba(255,255,255,0.8);
	width: 330px;
	height: 20px;
	background-color: transparent;
	font-size: 14px;
}
header .topbar .search_input-wrap input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.4);
}
header .topbar .search_input-wrap input::-moz-placeholder {
	color: rgba(255,255,255,0.4);
}
header .topbar .search_input-wrap input:-ms-input-placeholder {
	color: rgba(255,255,255,0.4);
}
header .topbar .search_input-wrap input::-ms-input-placeholder {
	color: rgba(255,255,255,0.4);
}
header .topbar .search_input-wrap input::placeholder {
	color: rgba(255,255,255,0.4);
}
header .topbar .search_input-wrap input:focus::-webkit-input-placeholder {
	color: transparent;
}
header .topbar .search_input-wrap input:focus::-moz-placeholder {
	color: transparent;
}
header .topbar .search_input-wrap input:focus:-ms-input-placeholder {
	color: transparent;
}
header .topbar .search_input-wrap input:focus::-ms-input-placeholder {
	color: transparent;
}
header .topbar .search_input-wrap input:focus::placeholder {
	color: transparent;
}
header .topbar .search_input-wrap input:focus {
	outline: none;
}

header .header {
	width: 100%;
	height: 75px;
}
header .header>.content_wrap {
	display: flex;
	align-items:center;
	justify-content: space-between;
	height: 100%;
}
.logo_wrap {
	display: flex;
	align-items:center;
	justify-content: flex-start;
}
.logo_wrap .logo_divider {
	width: 2px;
	height: 22px;
	background-color: #abaaa9;
	margin: 0 25px 0 18px;
}
.logo_wrap .logo_text {
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	width: 200px;
}
header .menu ul{
	display: flex;
	align-items:center;
	justify-content: flex-start;
}
header .menu li {
	margin-right: 45px;
}
header .menu li:last-child {
	margin-right: 0;
}
header .menu li:nth-child(2), 
header .menu li:last-child {
	margin-right: 58px;
	position: relative;
}
header .menu li:nth-child(2):after, 
header .menu li:last-child:after {
	content: '';
	position: absolute;
	display: block;
	width: 9px;
	height: 5px;
	right: -23px;
	top: 50%;
	-webkit-transform: translateY(-50%) rotateZ(0);
	        transform: translateY(-50%) rotateZ(0);
	background-image: url(img/caret_icon-white.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
header .menu li a {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
}
header .menu li a:hover {
	font-weight: 600;
}
header .phone_wrap {
	display: flex;
	align-items:center;
	justify-content: flex-end;
}
header .phone_wrap a {
	font-size: 18px;
	color: #fff;
	position: relative;
	margin-right: 15px;
}
header .phone_wrap a:before {
	content: '';
	position: absolute;
	left: -25px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 14px;
	height: 18px;
	background-image: url(img/phone_icon-white.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
header .phone_wrap span {
	font-size: 12px;
	color: #fff;
}

section {
	width: 100%;
	overflow-x: hidden;
	background-color: #fff;
}
.content_wrap {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.breadcrumbs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 25px 0;
	padding: 0;
	list-style: none;
}
.breadcrumbs li {
	padding: 0;
	margin-right: 36px;
	position: relative;
}
.breadcrumbs li:after {
	content: '';
	position: absolute;
	top: 8px;
	right: -20px;
	display: block;
	width: 4px;
	height: 10px;
	color: #4d4a48;
	background-image: url(img/breadcrumb_arrow.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.breadcrumbs li:last-child:after {
	display: none;
}
.breadcrumbs li a {
	font-family: Geometria;
	font-size: 14px;
	color: #4d4a48;
	text-decoration: none;
}
.breadcrumbs li a:hover {
	text-decoration:underline;
	color: #000;
}
.breadcrumbs li:last-child a {
	pointer-events: none;
	color:#a5a4a2;
}

section.cardBody h1 {
	font-size: 36px;
	color: #211d1a;
	font-weight: 300;
	margin: 20px 0 50px 0;
	padding: 0;
}
.mainPhoto {
	width: 90%;
	margin-left:5%;
}
.tabs_wrap {
	margin-top: 10px;
}
.tabs_wrap.active {
	background: -moz-linear-gradient(top,  #fff 0%,#fff 62.25%, #f2f2f2 62.251%, #f2f2f2 94.45%, #fff 94.451%, #fff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fff 0%,#fff 62.25%, #f2f2f2 62.251%, #f2f2f2 94.45%, #fff 94.451%, #fff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,   #fff 0%,#fff 62.25%, #f2f2f2 62.251%, #f2f2f2 94.45%, #fff 94.451%, #fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.tabs_triggers {
	display: flex;
	align-items:center;
	justify-content: center;
	width: 100%;
	position: relative;
	height: 80px;
	border-bottom: solid 2px #807c7a;
}
.tabs_triggers .bottom_bar {
	width: 100px;
	height: 4px;
	position: absolute;
	bottom:-2px;
	display: block;
	background-color: #211d1a;
	left: 0;
	transition: all 0.4s linear;
}
.tab {
	display: flex;
	align-items:center;
	justify-content: center;
	cursor: pointer;
	color: #807c7a;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 400;
	transition: all 0.2s linear;
	height: 100%;
}
.tab.active {
	color: #211d1a;
	font-weight: 600;
}
#descriptionTrigger {
	width: 12.2%;
}
#cardTrigger {
	width: 24.7%;
}
#certificatesTrigger {
	width: 35.6%;
}
#priceTrigger {
	width: 27.5%;
}

.tabs_content {
	width: 100%;
}
.tab_content {
	display: none;
	padding:0 70px;
}
.tab_content.active {
	display: block;
}
#descriptionTab {
	padding-top: 70px;
}
.tabs_content .text_info {
	display: flex;
}
.tabs_content .text_info img {
	margin:0 70px 70px 50px;
	width: 640px;
	height: auto;
}
.tabs_content .text_info p {
	padding: 0;
	margin: 0;
	margin-right: 30px;
	font-weight: 300;
}
.tabs_content .text_info p span {
	display: block;
	margin-bottom: 25px;
	font-size: 17px;
}
.tabs_content .text_info p span.bold {
	font-weight: 600;
	font-size: 16px;
}
.tabs_content .text_info p span.doubleGap {
	margin-bottom: 50px;
}
.tabs_content .infograph {
	display: flex;
}
.tabs_content .infograph table {
	width:640px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 70px;
	margin-bottom: 30px;
}
.tabs_content .infograph table tr{
	height: 90px;
	display: flex;
}
.tabs_content .infograph table tr td {
	width: 33.33333%;
	text-align: left;
	display: flex;
}
.tabs_content .infograph table tr td>img {
	width: 50px;
	height: 50px;
	opacity: 0.5;
	margin-right: 20px;
}
.tabs_content .infograph table tr td>span {
	font-size: 14px;
	color: #807c7a;
	line-height: 1.5;
}
.tabs_content .infograph>img {
	width: 640px;
	height: auto;
}

.tabs_content .priceAndOptions {
	display: flex;
	margin-bottom: 120px;
}
.priceAndOptions .img_wrap {
	width: 640px;
	margin-left: 50px;
	margin-right: 70px;
	position: relative;
}
.priceAndOptions .img_wrap img:last-child {
	position: absolute;
	bottom: -40px;
	right: -30px;
}
.priceAndOptions .table_wrap {
	width: 600px;
}
.priceAndOptions .table_wrap .title {
	font-size: 20px;
	font-weight: 600;
	color: #211d1a;
	margin-bottom: 30px;
	margin-top: 70px;
	text-transform: uppercase;
}
.priceAndOptions .table_wrap table {
	width: 550px;
	margin-bottom: 50px;
}
.priceAndOptions .table_wrap table tr {
	height: 60px;
}
.priceAndOptions .table_wrap table tr td {
	vertical-align: center;
	text-align: left;
	width: 52.8%;
	border-bottom: 1px solid #e5e5e5;
	font-weight: 600;
}
.priceAndOptions .table_wrap table tr:last-child td {
	border:none;
}
.priceAndOptions .table_wrap table tr td:first-child {
	width: 29%;
	color: #646362;
	font-weight: 300;
	font-size: 16px;
}
.priceAndOptions .table_wrap table tr td:last-child {
	width: 18.2%;
}
.priceAndOptions .examples_wrap {
	width: 100%;
	display: flex;
	align-items:center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.priceAndOptions .examples_wrap a {
	display: block;
	text-align: left;
	padding: 0 20px;
	line-height: 50px;
	font-size: 14px;
	color:#fff;
	position: relative;
	background-color: #807c7a;
	width: 48%;
	height: 50px;
	text-transform: uppercase;
}
.priceAndOptions .examples_wrap a:hover {
	background-color: #575453;
}
.priceAndOptions .examples_wrap a:after {
	content: '';
	width: 27px;
	height: 29px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 50%;
	-webkit-transform:translateY(-50%);
	        transform:translateY(-50%);
	right: 20px;
}
.priceAndOptions .examples_wrap a:first-child:after {
	background-image: url(img/description_buton_icon-leather.png);
}
.priceAndOptions .examples_wrap a:last-child:after {
	background-image: url(img/description_buton_icon-textile.png);
}
.priceAndOptions .buttons_wrap {
	width: 100%;
	display: flex;
	align-items:center;
	justify-content: space-between;
}
.priceAndOptions .buttons_wrap a {
	display: block;
	text-align: center;
	padding: 0 20px;
	line-height: 70px;
	font-size: 16px;
	color:#fff;
	position: relative;
	background-color: #211d1a;
	width: 48%;
	height: 70px;
	text-transform: uppercase;
}
.priceAndOptions .buttons_wrap a:hover {
	background-color: #3a332e;
}

.tab_content .carousel {
	width: 100%;
	/* height: 700px; */
}
.tab_content .carousel .slick-prev,
.tab_content .carousel .slick-next {
	width: 80px;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
	background-image: url(img/slider_arrow_right-white.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 23px 62px;
	z-index: 1000;
}
.tab_content .carousel .slick-prev {
	left: 0;
	-webkit-transform: rotateY(180deg) translateY(-50%);
	        transform: rotateY(180deg) translateY(-50%);
}
.tab_content .carousel .slick-next {
	right: 0;
}
.tab_content .carousel .slick-prev:before,
.tab_content .carousel .slick-next:before {
	display: none;
}
.tab_content .carousel .slick-slide img {
	margin: 0;
	min-width: 100%;
	width: 100%;
}
.tab_content .bottom_wrap{
	display: flex;
	align-items:flex-end;
	justify-content: space-between;
	position: relative;
	z-index: 1100;
	top: -70px;
}
.tab_content .bottom_wrap .leftPart {
	text-align: right;
	width: 53.4%;
	overflow:hidden;
}
.tab_content .bottom_wrap .rightPart {
	text-align: left;
	width: 43.8%;
}
.tab_content .bottom_wrap .rightPart>img,
.tab_content .bottom_wrap .leftPart>img {
	max-width: 80%;
}

#cardTab {
	padding: 0;
	padding-top: 80px;
	padding-bottom: 70px;
}
#cardTab img {
	width: auto;
	max-width: 100%;
}

#certificatesTab {
	padding: 0;
	padding-top: 80px;
	padding-bottom: 70px;
}
.certificate_row {
	display: flex;
	align-items:center;
	justify-content: space-between;
}
#certificatesTab .img_wrap {
	width: 22.5%;
}
#certificatesTab .img_wrap>img {
	width: 100%;
}

#priceTab {
	padding: 0;
	padding-top: 80px;
	padding-bottom: 70px;
}
#priceTab table {
	width: 100%;
	border-collapse: collapse;
}
#priceTab table th {
	background-color: #807c7a;
	height: 55px;
	padding-left: 30px;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	text-align: left;
	border:1px solid #807c7a;
}
#priceTab table td {
	font-size: 16px;
	color: #211d1a;
	font-weight: 300;
	padding: 40px 0px 40px 30px; 
	border-bottom: 1px solid #e5e5e5;
	vertical-align: top;
}
#priceTab table tr:last-child td {
	border:none;
}
#priceTab table th:first-child {
	width: 12%;
}
#priceTab table th:last-child {
	width: 20%;
}
#priceTab table th:nth-child(4) {
	width: 19.4%;
}
#priceTab table th:nth-child(3) {
	width: 20%;
}
#priceTab table th:nth-child(2) {
	width: 28.6%;
}
#priceTab table td:nth-child(2) span {
	width: 250px;
	display: block;
}

.similar_slider-wrap {
	width: 100%;
	padding-bottom: 90px;
}
.similar_slider-wrap h2 {
	margin-bottom: 80px;
	max-width: 1600px;
	margin: 20px auto 80px auto;
	text-transform: uppercase;
	color:  #211d1a;
	position: relative;
}
.similar_slider-wrap h2:before {
	content: '';
	background-color: #f2f2f2;
	position: absolute;
	width: 400px;
	height:90%;
	left: -30px;
	top: 0;
	transform: translateX(-100%);
}
.similar_slider-wrap .slider_wrap {
	width: 100%;
}
.similar_slider-wrap .slick-prev,
.similar_slider-wrap .slick-next {
	width: 80px;
	height: 100px;
	background-color: transparent;
	background-image: url(img/slider_arrow_right-black.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 23px 62px;
	z-index: 1000;
	opacity: 0.2;
}
.similar_slider-wrap .slick-prev:hover,
.similar_slider-wrap .slick-next:hover {
	opacity: 1;
}
.similar_slider-wrap .slick-prev {
	left: -110px;
	-webkit-transform: rotateY(180deg) translateY(-50%);
	        transform: rotateY(180deg) translateY(-50%);
}
.similar_slider-wrap .slick-next {
	right: -110px;
}
.similar_slider-wrap .slick-prev:before,
.similar_slider-wrap .slick-next:before {
	display: none;
}
.similar_slider-wrap .slick-slide {
	margin: 0 20px;
	border: 1px solid #ebebeb;
}
.similar_slider-wrap .slick-slide .img_wrap {
	width: 100%;
	height: 260px;
	overflow:hidden;
}
.similar_slider-wrap .slick-slide .img_wrap>img {
	margin: 0;
	min-width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.similar_slider-wrap .slick-slide .link_wrap {
	width: 100%;
	height: 130px;
	padding: 25px 30px; 
	position: relative;
}
.similar_slider-wrap .slick-slide .link_wrap h3 {
	padding: 0;
	margin: 0;
	font-size: 18px;
	text-align:left;
	color: #211d1a;
	font-weight: 400;
}
.similar_slider-wrap .slick-slide .link_wrap a {
	display: block;
	position: absolute;
	left: 30px;
	bottom: -1px;
	padding: 0 20px;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	background-color: #211d1a;
	line-height: 35px;
	height: 35px;
	text-transform: uppercase;
}
.similar_slider-wrap .slick-dots {
	bottom: -70px;
}
.similar_slider-wrap .slick-dots li {
	width: 55px;
}
.similar_slider-wrap .slick-dots li button {
	width: 8px;
	height:8px;
	border-radius: 0;
	padding: 0;
	background-color: #dedddd;
}
.similar_slider-wrap .slick-dots li button:before {
	display: none;
}
.similar_slider-wrap .slick-dots li.slick-active button {
	background-color: #211d1a;
}

.anotherGoods {
	width: 100%;
	padding-bottom: 130px;
}
.anotherGoods h2 {
	margin-bottom: 80px;
	max-width: 1600px;
	margin: 20px auto 80px auto;
	text-transform: uppercase;
	color:  #211d1a;
	position: relative;
}
.anotherGoods h2:before {
	content: '';
	background-color: #f2f2f2;
	position: absolute;
	width: 400px;
	height:90%;
	left: -30px;
	top: 0;
	transform: translateX(-100%);
}
.anotherGoods .slider_wrap {
	width: 100%;
}
.anotherGoods .slick-prev,
.anotherGoods .slick-next {
	width: 80px;
	height: 100px;
	background-color: transparent;
	background-image: url(img/slider_arrow_right-black.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 23px 62px;
	z-index: 1000;
	opacity: 0.2;
}
.anotherGoods .slick-prev:hover,
.anotherGoods .slick-next:hover {
	opacity: 1;
}
.anotherGoods .slick-prev {
	left: -110px;
	-webkit-transform: rotateY(180deg) translateY(-50%);
	        transform: rotateY(180deg) translateY(-50%);
}
.anotherGoods .slick-next {
	right: -110px;
}
.anotherGoods .slick-prev:before,
.anotherGoods .slick-next:before {
	display: none;
}
.anotherGoods .slick-slide {
	margin: 0 20px;
	border: 1px solid #ebebeb;
}
.anotherGoods .slick-slide .img_wrap {
	width: 100%;
	height: 380px;
	overflow:hidden;
}
.anotherGoods .slick-slide .img_wrap>img {
	margin: 0;
	min-width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.anotherGoods .slick-slide .link_wrap {
	width: 100%;
	height: 170px;
	padding: 25px 30px; 
	position: relative;
}
.anotherGoods .slick-slide .link_wrap h3 {
	padding: 0;
	margin: 0;
	font-size: 18px;
	text-align:left;
	color: #211d1a;
	margin-bottom: 10px;
	font-weight: 400;
}
.anotherGoods .slick-slide .link_wrap .price {
	font-size: 24px;
	color: #211d1a;
}
.anotherGoods .slick-slide .link_wrap a {
	display: block;
	position: absolute;
	left: 30px;
	bottom: -1px;
	padding: 0 20px;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	background-color: #211d1a;
	line-height: 35px;
	height: 35px;
	text-transform: uppercase;
}
.anotherGoods .slick-dots {
	bottom: -70px;
}
.anotherGoods .slick-dots li {
	width: 55px;
}
.anotherGoods .slick-dots li button {
	width: 8px;
	height:8px;
	border-radius: 0;
	padding: 0;
	background-color: #dedddd;
}
.anotherGoods .slick-dots li button:before {
	display: none;
}
.anotherGoods .slick-dots li.slick-active button {
	background-color: #211d1a;
}


footer {
	width: 100%;
	background-color: #211d1a;
}
footer .top_part {
	width: 100%;
}
footer .bottom_part {
	width: 100%;
	background-color: #0e0c0b;
}
footer .top_part>.content_wrap {
	display: flex;
	height: 140px;
	justify-content: space-between;
	align-items:center;
}
footer .bottom_part>.content_wrap {
	display: flex;
	height: 45px;
	justify-content: center;
	align-items:center;
}
footer .logo>img {
	width: 90px;
}
footer .logo_wrap .logo_text {
	font-size: 10px;
}
footer .logo_wrap {
	margin-bottom: 10px;
}
footer .copyright {
	color: #c1c0bf;
	font-size: 14px;
	opacity: 0.5;
}
footer .quality_block {
	display: flex;
	align-items:center;
}
footer .quality_block .logo>img {
	width: 64px;
	margin-right: 30px;
}
footer .quality_block .text {
	color: #c1c0bf;
	font-size: 14px;
	opacity: 0.5;
}
footer .icons_block {
	display: flex;
	align-items:center;
}
footer .icons_block a {
	margin-right: 30px;
}
footer .icons_block .metrics {
	width: 110px;
	height: 45px;
	overflow:hidden;
}
footer .icons_block .metrics>img {
	width: 100%;
	height: 100%;
}
footer .bottom_part a{
	color: #c1c0bf;
	font-size: 14px;
	opacity: 0.5;
	margin-right: 60px;
	font-weight: 300;
}
footer .bottom_part a:hover {
	opacity: 1;
}
footer .bottom_part a:last-child {
	margin-right: 0;
}

@media all and (max-width: 1780px) {
	.similar_slider-wrap .slick-next,
	.anotherGoods .slick-next {
		right: -50px;
	}
	.similar_slider-wrap .slick-prev,
	.anotherGoods .slick-prev {
		left: -50px;
	}
}
@media all and (max-width: 1660px) {
	.content_wrap {
		max-width: 1200px;
	}
	.priceAndOptions .img_wrap {
		margin-left: 0;
	}
	.priceAndOptions .img_wrap img {
		width: 90%;
	}
	.priceAndOptions .img_wrap img:last-child {
		width: 260px;
		bottom: 105px;
    	right: -20px;
	}
	.tabs_content .infograph table tr td>img {
		margin-right: 10px;
	}
	.tabs_content .infograph table {
		margin-left: 0;
		margin-right: 40px;
		margin-bottom: 0;
	}
	.tabs_content .infograph>img {
		width: 440px;
	}
	.tabs_content .text_info img {
		margin-left: 0;
		margin-right: 40px;
		width: 580px;
		height: 100%;
	}
	.tabs_content .text_info p {
		margin-right: 0;
	}
	.tab {
		font-size: 16px;
	}
	section.cardBody h1 {
		font-size: 30px;
	}
	header .topbar .search_input-wrap input {
		width: 180px;
	}
	header .topbar .navbar li {
		margin-right: 20px;
	}
	.logo_wrap img {
		width: 90px;
	}
	.logo_wrap .logo_text {
		font-size: 9px;
	}
	.logo_wrap .logo_divider {
	    margin: 0 10px 0 10px;
	}
	header .menu li {
		margin-right: 20px;
	}
	header .menu li a {
		font-size: 10px;
	}
	header .phone_wrap a {
		font-size: 12px;
	}
	.similar_slider-wrap .slick-slide .img_wrap {
		height: 210px;
	}
	.anotherGoods .slick-slide .img_wrap {
		height: 350px;
	}
	.anotherGoods .slick-slide .link_wrap h3 {
		font-size: 16px;
	}
	header .menu li:nth-child(2), 
	header .menu li:last-child {
		margin-right: 40px;
	}
}
@media all and (max-width: 1260px) {
	.content_wrap {
		max-width: 990px;
	}
	header.desktop {
		display: none;
	}
	header.mobile {
		display: flex;
		align-items:center;
		justify-content: space-between;
		height: 50px;
		position: relative;
		background-color: #211d1a;
		padding: 0 15px;
	}
	header.mobile .hamburger_wrap {
		width: 16px;
		height: 16px;
	}
	header.mobile .hamburger_wrap .hamburger {
		position: relative;
		width: 100%;
		height: 100%;
	}
	header.mobile .hamburger_wrap .hamburger>span {
		position: absolute;
		width: 100%;
		height: 2px;
		display: block;
		background-color: #fff;
		left: 0;
	}
	header.mobile .hamburger_wrap .hamburger>span:first-child {
		top: 0;
	}
	header.mobile .hamburger_wrap .hamburger>span:last-child {
		bottom: 0;
	}
	header.mobile .hamburger_wrap .hamburger>span:nth-child(2) {
		top: 50%;
		transform: translateY(-50%);
	}
	header.mobile .icon_wrap {
		display: flex;
	}
	header.mobile .icon_wrap>div {
		height: 25px;
		margin-right: 20px;
	}
	header.mobile .icon_wrap>div:last-child {
		margin-right: 0px;
	}
	header.mobile .icon_wrap>div>img {
		height: 100%;
		width: auto;
	}
	header.mobile .popup {
		position: absolute;
		top: 50px;
		right: 0;
		width: 100%;
		max-width: 420px;
		background-color: #211d1a;
		height: 50px;
		border-top: 1px solid #2a241f;
		padding-right: 50px;
		padding-left: 15px;
		z-index: 100;
		text-align: center;
		align-items:center;
		justify-content: center;
	}
	header.mobile .popup.active {
		display: flex;
	}
	header.mobile .popup .close {
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 45px;
	}
	header.mobile .popup .close>span {
		display: block;
		background-color: #dedede;
		position: absolute;
		width: 30px;
		height: 2px;
		left: 50%;
		top: 50%;
	}
	header.mobile .popup .close>span:first-child {
		transform:translateY(-50%) translateX(-50%) rotateZ(-45deg);
	}
	header.mobile .popup .close>span:last-child {
		transform:translateY(-50%) translateX(-50%) rotateZ(45deg);
	}
	header.mobile #phonePopup a {
		font-size: 18px;
		color: #fff;
		line-height: 50px;
	}
	header.mobile .adress {
		font-size: 14px;
		color: #fff;
		position: relative;
		padding-left: 25px;
	}
	header.mobile .search_input-wrap {
		display: flex;
		align-items:center;
		justify-content: flex-end;
	}
	header.mobile .search_input-wrap button {
		background-color: transparent;
		box-shadow: none;
		border: none;
		width: 60px;
		height: 20px;
		cursor: pointer;
	}
	header.mobile .search_input-wrap button:focus {
		opacity: 0.5;
	}
	header.mobile .search_input-wrap input {
		border: none;
		border-bottom: solid 1px #4d4a48;
		color: rgba(255,255,255,0.8);
		width: 180px;
		height: 20px;
		background-color: transparent;
		font-size: 14px;
	}
	header.mobile .search_input-wrap input::-webkit-input-placeholder {
		color: rgba(255,255,255,0.4);
	}
	header.mobile .search_input-wrap input::-moz-placeholder {
		color: rgba(255,255,255,0.4);
	}
	header.mobile .search_input-wrap input:-ms-input-placeholder {
		color: rgba(255,255,255,0.4);
	}
	header.mobile .search_input-wrap input::-ms-input-placeholder {
		color: rgba(255,255,255,0.4);
	}
	header.mobile .search_input-wrap input::placeholder {
		color: rgba(255,255,255,0.4);
	}
	header.mobile .search_input-wrap input:focus::-webkit-input-placeholder {
		color: transparent;
	}
	header.mobile .search_input-wrap input:focus::-moz-placeholder {
		color: transparent;
	}
	header.mobile .search_input-wrap input:focus:-ms-input-placeholder {
		color: transparent;
	}
	header.mobile .search_input-wrap input:focus::-ms-input-placeholder {
		color: transparent;
	}
	header.mobile .search_input-wrap input:focus::placeholder {
		color: transparent;
	}
	header.mobile .search_input-wrap input:focus {
		outline: none;
	}
	.breadcrumbs li a {
		font-size: 10px;
	}
	section.cardBody h1 {
		font-size: 24px;
		margin-bottom: 35px;
	}
	.mainPhoto {
		width: 100%;
		margin: 0;
	}
	.tab {
		font-size: 12px;
	}
	.tabs_triggers {
		height: 60px;
	}
	#priceTrigger {
		width: 24%;
	}
	#certificatesTrigger {
		width: 38%;
	}
	.tab_content {
		padding: 0;
	}
	.tabs_content .text_info img {
		width: 470px;
	}
	.tab_content .carousel .slick-prev, 
	.tab_content .carousel .slick-next {
		width: 50px;
		height: 80px;
	}
	.similar_slider-wrap .slick-next, 
	.anotherGoods .slick-next {
		top: auto;
		bottom: -155px;
		right: 260px;
	}
	.similar_slider-wrap .slick-prev, 
	.anotherGoods .slick-prev {
		top: auto;
		bottom: -155px;
		left: 220px;
	}
}